.navbar{
    background-color: #E2441A;
}
body{
    font-family: "Vazirmatn", sans-serif;
    /* font-weight: 700; */
}
.rounded-custom {
    border-radius: 25px;
}
.section-left {
    background-image: linear-gradient(#E45F3E, #D43714); /* Orange color for left sections */
    color: white;
}
.section-left h5{
display: inline;
}
.section-left .aa{
display: flex;
justify-content: space-between;
width: 400px;
padding: 30px;
}
.section-left .aa:nth-child(1){
    margin-top: 20px;
}
.section-left .aa:nth-child(4){
    margin-bottom: 300px;
}
.section-left .d-flex {
    background-image: linear-gradient(#E45F3E, #D43714);
    color: white;
}
.section-main img, .section-news img {
    border-radius: 25px;
}
.bb{
    max-width: 760px;
    display: inline-block;
    border-radius: 1rem;
    padding-right: 30px;
}
.rounded-custom {
    border-radius: 25px;
}
.section-ads {
    background-color: #E2441A; /* Orange color for the ad section */
    color: white;
    padding-top: 100px;
    position: relative;
    height: 100%;
}
.close {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.section-news img {
    border-radius: 15px;
    width: 100%;
}
.section-news h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
.section-news p {
    font-size: 0.9rem;
}
.section-news .date {
    color: #E2441A;
    font-size: 0.8rem;
}
.section-news .cc {
    color: #6D6D6D;
    font-size: 0.8rem;
}
.title-bar {
    background: linear-gradient(to right, #E45F3E00 0%, #FFB29F 100%, #E45F3E00 0%);
    border: linear-gradient(to right, #E45F3E00 0%, #FFB29F 100%, #E45F3E 0%);
    text-align: center;
    padding: 60px;
    margin-top: 20px;
    border-radius: 15px;
    color: #000;
    width: 700px;
}
/* -------------------------------------------------- */
.news-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.news-card img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.news-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.news-card p {
    font-size: 0.9rem;
    color: #666;
}
.news-card .time-label {
    color: red;
    font-size: 0.8rem;
}

/* ------------------------------------------ */
.back-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ad-container {
    background-color: #000;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ad-container h2 {
    color: #FF5722;
    margin: 0;
}

.ad-container .close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.btn-red {
    background-color: #FF5722;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
}